<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anders.SMarker">

    <!-- uses-permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>



    <!-- uses-feature -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" />


    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <!-- activity -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UserInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".utils.AlertDialog"
            android:theme="@style/Dialog.Theme"
            android:launchMode = "singleTask"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".utils.WorkDlg"
            android:theme="@style/Dialog.Theme"
            android:screenOrientation="portrait" />

        <activity
            android:name="WorkMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AgreeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ConnectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ListTeamInfo"
            android:enabled="true" />

        <activity
            android:name=".MessageListActivity"
            android:enabled="true" />
        <activity
            android:name=".fcm.CustomDialogTeam"  android:screenOrientation="portrait" android:theme="@style/Dialog.Theme" />
        <activity
            android:name=".fcm.CustomDialogNormal"  android:screenOrientation="portrait" android:theme="@style/Dialog.Theme"/>
        <activity
            android:name=".fcm.CustomDialogEmergency" android:screenOrientation="portrait" android:theme="@style/Dialog.Theme"/>

        <!-- service -->

        <service
            android:name=".fcm.FireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".fcm.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".fcm.RestartService"
            android:enabled="true"
            android:exported="true"/>
        <service android:name=".service.BleService"
            android:enabled="true"
            android:exported="true"/>

        <service android:name=".service.UnCatchTaskService" android:stopWithTask="false" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />


        <!-- receiver -->
        <receiver android:name=".fcm.RestartService"/>

        <receiver
            android:name=".service.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <!-- provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.anders.SMarker"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


        <!-- uses-libarary -->
        <!--
        <uses-library android:name="com.google.android.maps" />
        -->
    </application>
</manifest>